

.todos__btnAdd {
  display: inline-block;
  margin-left: 10px;
}

.todos__name {
  margin-left: 10px;
}

.todos__menu-icon {
  float: right;
  margin-top: 10px;
}

.todos__icon {
  vertical-align:top;
}

.todos__name {
  // display: inline-block;
  margin-left: 20px;
}

.todos__checkbox {
  float: right;
}

.todos__item {
  width: 100%;
  cursor: pointer;
}

.todos__item-content {
  display: inline-block;
  margin-left: 20px;
}

.todos__details-button-list {
  margin-top: 30px;
}

.todos__update-button{
  margin-left: 10px;
}

.todos__delete-button {
  float: right;
}
