

.todos__btnAdd {
  display: inline-block;
  margin-left: 10px;
}

.todos__name {
  margin-left: 10px;
}

.todos__menu-icon {
  float: right;
  margin-top: 10px;
}

.todos__icon {
  vertical-align: middle;
}

.todos__name {
  display: inline-block;
  margin-left: 20px;
}

.todos__checkbox {
  float: right;
}

.todos__item-content {
  width: 100%;
  cursor: pointer;
}
