  <mat-toolbar>
    <span>Personal Manager</span>
    <div>
      <button [matMenuTriggerFor]="mainMenu" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #mainMenu="matMenu">
        <button type="button" mat-menu-item (click)="onMenuItemClick(dynamicComponentKeys.Todos)">
          <span>Todos management</span>
        </button>
        <button type="button" mat-menu-item (click)="onMenuItemClick(dynamicComponentKeys.Times)">
          <span>Time management</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <div class="container" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="50%">


      <ng-template componentsHost></ng-template>



    </div>
  </div>

